<section class="card">
  <figure class="panel meta">
    <picture>
      <img class="avatar" <img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Restaurant-icon.png" width="128" height="128"/>
    </picture>
    <figcaption>
      <h1 class="name"><%= @account.username%></h1>
    </figcaption>
  </figure>
  
  <div class="panel info">
    <dl class="skillz">
      <dt>Biography:</dt>
      <dd>100</dd>
      <dt><%=@account.biography%></dt><br></br>
      <dt>Favorite Food:</dt>
      <dd>100</dd>
      <dt><%=@account.favorite_food%></dt>
    </dl>
    
  </div>
  
</section>