<title>Profile</title>
<h1> Welcome, <%= @account.first_name%>!</h1>
  <h3>Profile Information:</h3>
<label for="Biography">Biography:</label>
<p> <%= @account.biography%></p>

<label for="Favorite Food">Favorite Food:</label>
<p> <%= @account.favorite_food%></p>

<% if current_account == @account %>
  <%= button_to "Edit Preferences", edit_account_path(@account), {method: :get, class: "btn btn-secondary"} %>
<% end %>