// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,200,300,900);

$colors: #E89B35 #36CBE9 #A137E7 #E83568;

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {  font-family: inherit; }

a {
  color: rgba(0,0,0,0.4);
  transition: color 0.35s ease-in-out;
  &:hover { color: #00a7c9; }
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  @media only screen and (max-width: 768px) {
     width: 25rem;
  }
 
  
  .panel {
    transition: all 0.35s ease-in-out;
    padding: 1.5rem 2rem;
    /* position: absolute; */
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
  }
  
  .meta {
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    position: relative;
    text-align: center;
    transform: translateX(0);
    padding: 2rem 4rem;
    border-right: 1px solid transparent;
    
    picture {
      position: relative;
      display: inline-block;
    }
    
    img {
       object-fit: cover; 
    }
    .avatar { 
      border-radius: 75%;
    }

    .name {
      font-size: 2rem;
      text-align: center;
      margin-top: 1rem;
      font-weight: 300;
    }
    
    .title {
      font-size: 1.1rem;
      font-weight: 600;
      margin: 1rem 0 0;
    }
  }
  
  .info {

    
    @media only screen and (min-width: 768px) {
        transform: translateY(0);
        top: 0;
        left: 0;
        z-index: 0;
        position: absolute;
    }
    
    dt {
      margin: 0;
      padding: 1rem 0;
       &:first-child {
        padding-top: 0;
      }
      &:after {
        width: 100%;
        height: 0.5rem;
        content: "";
        display: block;
      }
    }
    
    dd {
      width: 100%;
      height: 0.5rem;
      position: relative;
      right: 0;
      margin: -1.5rem 0 0;
      /* background-color: nth($colors, 1); */
      overflow: hidden;
      text-indent: -1000px;
      
      @for $i from 1 through length($colors) {
        &:nth-child(#{$i*2}) {
          background-color: nth($colors, $i);
        }
      }
    }
  }
  
  .social {
    list-style: none;
    margin: 0;
    text-align: center;
    
    li { 
      display: inline-block;
      a {
        display: block;
        overflow: hidden;
        text-indent: -1000px;
        height: 1em;
        font-size: 1.8rem;
        padding: 0.1em;
        margin: 0 0.1em;

        &:before {
          display: block;
          text-indent: 0;
          font-size: 1em;
        }
      }
    }
  }
  
  @media only screen and (min-width: 768px) {
      &:hover {
    .meta { 
      transform: translateX(-69.5%); 
      border-color: #00a7c9;
    }
    .info {
      transform: translateX(20%);
      width: 150%;
    }
  }
  }
  
}
