// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* buttons */
.btn-join {
    padding: 6px 12px;
    border: 0 none;
    font-weight: 400;
    letter-spacing: 1px;
    color: #FFFFFF;
    background-color: #02C202;

}

#category-select {
  padding-left: 6em;
}

.btn-join{
border-radius: 7px;
}

.btn-join:hover {
  color: #FFFFFF;
  background-color: #15EB60;
  border-color: #FFFFFF;
}

.button_to,
.button_to div {
  display: inline;
}


/* events scrolling table */
.available_events_list {
    width: 35%;
    tbody{
    height:400px;
    overflow-y:auto;
    width: 100%;
    }

    thead,tbody,tr,td,th{
        display:block;
    }
}

thead {
  tr {
    th {
      float:center;
    }
  }
}

#evt-show-header {
  font-size: 1em;
}