<div class="center jumbotron">
<h1>Meet 'n' Eat!</h1>

<% if logged_in? %>
	<a href="/events" class="btn btn-danger" role="button" aria-pressed="true">Find Events</a>
	<a href="/events/new" class="btn btn-danger" role="button" aria-pressed="true">Create Event</a>
<% else %>
	<p>Sign in to find meal buddies!<br><%= link_to "Sign In", signin_path %></p>
	<p>Make A New Account!<br><%= link_to "Sign Up", new_account_path %></p>
<% end %>