<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Meet n' Eat", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, id: "nav_links"%></li>
      </ul>
    </nav>
  </div>
</header>
